body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    overflow-x: scroll;


}
#button{
    background-color: rgb(75, 140, 245);
    color:rgb(245, 245, 245);
    margin-left: 10px;
    cursor: pointer;
    border: none;
    height: 25px;

}
#button:hover{
    text-shadow: rgb(211, 211, 211);
}
.a
{
  margin: 5px;
  text-decoration: none;
  color: black;
  opacity: 0.87;

}
nav{
    display: flex;
    justify-content: space-between;
}
.header-nav{
    display:flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}
ul>a , ul>img {
    padding: 0 8px;
    cursor: pointer;
}
#container{
    display: flex;
    justify-content: space-between;
    border: 1px solid ;
    border-color: rgb(226, 226, 226);
    width: 600px;
    height: 30px;
    border-radius: 20px;
    
}
/* #container:hover{

} */
#container> input{
border: none;
outline: none;
flex-grow: -1;
}
section{
display: flex;
flex-direction: column;
align-items : center;
margin-top:20vh;
}
img:hover{
    cursor: pointer;
}
#button-container{
    padding-top: 40px;
}
button {
    
    /* color:#8a8d91; */

    background-color: #efefef;
    /* background-color: hsl(0, 0%, 90%); */
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 10px;
}
button:hover{
    cursor:pointer;
    box-shadow: 0 0 10px gainsboro;
}

/*-----footer----*/
#footer{
    bottom: 0;
    background-color: #f2f2f2;
    position: fixed; 
    line-height: 20px;
    width: 100%;
    color:#5F6368;
    
    


}
.footer__top,
.footer__bottom
{ 
    display: flex;
    justify-content: space-between; 
    
}
.footer__bottom{
    border-top: 1px solid #dadced;
}
   .footer__bottom-left{
    padding-left: 0px;
   } 
   
